<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_wastemanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWasteManagementSystem">
        <activity
            android:name=".userStats"
            android:exported="false" />
        <activity
            android:name=".stats"
            android:exported="false" />
        <activity
            android:name=".updateData"
            android:exported="false" />
        <activity
            android:name=".noData"
            android:exported="false" />
        <activity
            android:name=".tasks"
            android:exported="false" />
        <activity
            android:name=".list"
            android:exported="false" />
        <activity
            android:name=".collection"
            android:exported="false" />
        <activity
            android:name=".categories"
            android:exported="false" />
        <activity
            android:name=".Edit_profile"
            android:exported="true" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".registration"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>